    .popup__close-button {
        background-color: transparent;
        display: inline-block;
        background-image: url(../../../images/CloseIcon.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        border: none;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .popup__close-button:hover {
        opacity: .6;
    }
    
    @media screen and (min-width: 636px) {
        .popup__close-button {
            width: 45px;
            height: 45px;
            top: -40px;
            left: 420px;
        }
    }
    
    @media screen and (min-width: 366px)and (max-width: 635px) {
        .popup__close-button {
            width: 40px;
            height: 40px;
            top: -40px;
            left: 275px;
        }
    }
    
    @media screen and (max-width: 365px) {
        .popup__close-button {
            width: 40px;
            height: 40px;
            top: -35px;
            left: 97%;
        }
    }