  @import url('./__add-button/profile__add-button.css');
  @import url('./__image/profile__image.css');
  .profile {
      margin: 0 auto;
      display: flex;
  }
  
  @media screen and (min-width: 938px) {
      .profile {
          width: 882px;
          margin: 0 auto;
          padding: 45px 0 40px 0;
          justify-content: baseline;
          align-items: center;
          flex-direction: row;
          position: relative;
          flex-wrap: nowrap;
      }
  }
  
  @media screen and (min-width: 768px) and (max-width: 937px) {
      .profile {
          width: calc(100% - 54px);
          margin: 0 auto;
          padding: 45px 0 40px 0;
          justify-content: baseline;
          align-items: center;
          flex-direction: row;
          position: relative;
          flex-wrap: nowrap;
      }
  }
  
  @media screen and (max-width: 767px) {
      .profile {
          margin: 0 auto;
          padding: 2px 0 38px 0;
          width: calc(100% - 38px);
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          position: relative;
      }
  }