@import url('./__copyright/footer__copyright.css');
.footer {
    padding-bottom: 60px;
}

@media screen and (min-width: 938px) {
    .footer {
        max-width: 882px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 937px) {
    .footer {
        width: calc(100% - 54px);
        margin: 0 auto;
    }
}

@media screen and (min-width: 321px)and (max-width: 767px) {
    .footer {
        margin: 0 auto;
        padding: 28px 0 38px 0;
        width: calc(100% - 38px)
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0 auto;
        padding: 28px 0 38px 0;
        width: calc(100% - 38px)
    }
}