    @import url('./__image/card__image.css');
    @import url('./__like-button/card__like-button.css');
    @import url('./__trash-button/card__trash-button.css');
    @import url('./__title/card__title.css');
    @import url('./__like-sum/card__like-sum.css');
    .card {
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        color: black;
        background-color: white;
        position: relative;
        display: grid;
        grid-template-areas: "image image" "title like-button";
        grid-template-columns: auto 1fr;
        grid-template-rows: 282px 79px;
    }

    