.popup__container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    max-width: 430px;
    height: 330px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

@media screen and (min-width: 366px) and (max-width: 635px) {
    .popup__container {
        max-width: 282px;
        height: 382px;
    }
}

@media screen and (max-width: 365px) {
    .popup__container {
        max-width: 240px;
       min-height: 258px;
    }
}

